// colors
$dark: #000;
$orange: #ff8b00;

$yellow: #ffc900;
$yellow-light: #fdd774;
$green: #2e5500;
$green-light: #e9f2df;
$violet: #434051;

$red: #e84545;
$red-light: #ff9999;


// gradient


//social color
$odnoklassniki: #ed8109;
$vk: #507398;
$twitter: #77cbef;
$instagram: #c13584;
$fb: #5c77b8;
$google: #55494d;
$viber: #7e40bc;
$telegram: #60a8de;

/**/
$facebook_color: hsla(222, 47%, 40%, 1);
$twitter_color: hsla(198, 100%, 47%, 1);
$google_plus_color: hsla(8, 74%, 53%, 1);
$vk_color: #45668e;
$youtube: #f61c0d;


// fonts

$default: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lifehack: 'Lifehack Basic', sans-serif;

//icons
$icon-download: "\e926";
$icon-triangle-down: "\e91a";
$icon-triangle-up: "\e919";
$icon-chevron-right: "\e915";
$icon-chevron-left: "\e916";
$icon-chevron-up: "\e90c";
$icon-chevron-down: "\e90b";
$icon-chevron-thin-right: "\e904";
$icon-chevron-small-right: "\e905";
$icon-chevron-thin-left: "\e906";
$icon-chevron-small-left: "\e907";
$icon-all-news: "\e927";
$icon-send-review: "\e925";
$icon-whatch-traler: "\e924";
$icon-description: "\e923";
$icon-check: "\e922";
$icon-date: "\e91d";
$icon-pencil: "\e91e";
$icon-review-1-path1: "\e91f";
$icon-review-1-path2: "\e920";
$icon-traler: "\e921";
$icon-torrent: "\e91b";
$icon-view-online: "\e91c";
$icon-play-path1: "\e917";
$icon-play-path2: "\e918";
$icon-review: "\e914";
$icon-subscribe: "\e912";
$icon-view: "\e910";
$icon-movie: "\e911";
$icon-bookmarks: "\e913";
$icon-close: "\e90e";
$icon-login: "\e90d";
$icon-search: "\e908";
$icon-imdb: "\e909";
$icon-kinopoisk: "\e90a";
$icon-facebook: "\e903";
$icon-odnoklassniki: "\e90f";
$icon-vk: "\e900";
$icon-twitter: "\e901";
$icon-youtube: "\e902";